h1 {font-size: 40px;
    color: #ECC8AE;}
.box { margin: 2%; border: 10%; padding-left: 10%;
    
}
body {background-color: #92140C; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #070707;}
section {background-color: #D7907B;}
header> section {margin: 30px; border: 30px; padding: 30px;}
main> section> img {margin: 30px;  border: 40px; padding-left: 40px;}
main> section {width: 450px;}
main> section> ul {border: white 1px solid;}
.move {
  margin-left: 300px; border:200px padding-left: 300px;
}
.two {
  padding-left: 10px; 
}
#first {
    font-style: italic;
}
.hightlight {
    text-transform: uppercase;
    background-color: #9E2B25;
    color: #000;
}
.brownie2 {
   width: 50%; padding-left: 10%; 
}
